.container {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,116,1) 35%, rgba(0,212,255,1) 100%);
    overflow: hidden;
}

.personContainer {
    display: flex;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
}

.form {
    display: flex;
    flex-direction: column;
    width: 10%;
    text-align: center;
    margin: 0 auto;
    border: 2px dashed black;
    border-radius: 20px;
    padding: 25px;
}

.pageTitle {
    text-align: center;
}

.person {
    background-color: gray;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    padding: 5px 30px;
    width: 250px;
}

.button {
    padding: 5px;
    margin: 10px;
    background-color: cyan;
    border-radius: 10px;
}

html, body, #root, .container {
    height: 100%;
}